
body{
   background-color: black;
   text-align: center;
}

.firstdiv{
background-color: white;
color: black;
font-family: 'Teko', sans-serif;
text-align: left;
height: 550px;
width: 400px;
margin:0 auto;
}

img{
    height: 300px;
    width: 400px;
}
.firstp{
    text-align: left;
}
.secondp{
    text-align: left;
}
.fa-ellipsis-v{
    margin-left: 350px;
}
.fa-heart-o, .fa-comment-o, .fa-paper-plane-o {
margin-left: 5px;
}
.fa-bookmark-o{
  margin-left: 315px;
}